// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: #fff;
}
